<!-- <div
  class="bg-image"
  style="background-image: url('../assets/hospitalbg.jpg'); height: 100vh"
> -->
<body>
  <!-- <div class="container-fluid"> -->
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100"></div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-danger" href="#">Hosptal Management System</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link"
              id="active__link"
              aria-current="page"
              routerLink="addHospitals"
              >Add Hospital</a
            >
          </li>
          <li class="nav-item vertical-spacer">
            <a class="nav-link" routerLink="/getAllHospitalRecords"
              >HospitalList</a
            >
          </li>
          `
          <li class="nav-item">
            <a class="nav-link" routerLink="addDoctorDetails">AddDoctor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="doctors">DoctorList</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Background image -->
  <div
    class="bg-image"
    style="background-image: url('../assets/hospitalbg.jpg'); height: 100vh"
  >
    <div class="mask" style="background-color: #41665b">
      <div class="d-flex justify-content-center align-items-center h-100">
        <h1 class="text-white mb-0">Hospital & Doctor Records</h1>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>

  <!-- </div> -->
</body>
