<table class="table table-hover text-bold">
  <thead class="table-light">
    <tr>
      <th class="text-center">Doctor Id</th>
      <th class="text-center">Doctor Name</th>
      <th class="text-center">Contact Number</th>
      <th class="text-center">Email</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctors of doctor" class="text-bold">
      <td class="text-center">{{ doctors.doctorId }}</td>
      <td class="text-center">{{ doctors.doctorName }}</td>
      <td class="text-center">{{ doctors.contactNumber }}</td>
      <td class="text-center">{{ doctors.email }}</td>
      <td class="text-center">
        <button
          class="btn btn-success"
          (click)="updateDoctorRecord(doctors.doctorId)"
        >
          Update
        </button>
        <button
          class="btn btn-danger"
          style="margin-left: 10px"
          (click)="deleteDoctorRecord(doctors.doctorId)"
        >
          Delete
        </button>
        <button
          class="btn btn-info"
          style="margin-left: 10px"
          (click)="DoctorDetails(doctors.doctorId)"
        >
          View
        </button>
      </td>
      <!-- <td>
          <button
            (click)="updateHospitalRecord(hospitals.hospitalId)"
            class="btn btn-info"
          >
            Update
          </button>
          <button
            (click)="deleteHospitalRecord(hospitals.hospitalId)"
            class="btn btn-danger"
            style="margin-left: 10px"
          >
            Delete
          </button>
        </td> -->
    </tr>
  </tbody>
</table>
